<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Plugin.Permissions" version="2.2.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Toasts.Forms.Plugin-PCL" version="3.3.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xam.Plugin.Geolocator" version="4.2.0" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarians.MediaPlayer" version="1.1.1" targetFramework="portable45-net45+win8+wpa81" />
  <package id="Xamarin.Forms" version="2.5.0.122203" targetFramework="portable45-net45+win8+wpa81" />
</packages>